body {
    background-image: url('../pic/רקע.png');
    background-image: url('../pic/רקע\ גיפ.gif');
    background-image: url('../pic/רקע\ חדש\ מושלג.gif');
    /* overflow-y: hidden; */
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: auto;
    white-space: nowrap;
    background-attachment: fixed;
    background-size: cover;
    /* background-position: center; */
    overflow-y: scroll;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.element {
    background-image: url("https://drive.google.com/uc?export=view&id=file/d/1FsWI-mp5HNN7WMAFZ5UQdccHRAgx197H/view?usp=drive_link");
    background-size: cover;
    background-position: center;
}

.wraper {
    display: flex;
    position: fixed;
    top: -100px;
    left: 50px;
    /* justify-content: center; */
  align-items: center;
}

/* דהייה החוצה */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
