html {
    /* font-size: 62.5%;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	line-height: 1rem;
	letter-spacing: 0.08rem; */
}

body {
    /* display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	font-size: 1.4rem;
	font-weight: inherit;
	background-color: #ffffff;
	height: 100vh;
	width: 100vw; */
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 650px;
    /* background-color: transparent; */
    border-radius: 3px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white); */
    margin-left: 50px;
}

.clock-column {
    margin-right: 7rem;
    text-align: center;
    position: relative;

    &::after {
        content: ":";
        display: block;
        height: 0.25rem;
        width: 0.25rem;
        font-size: 36px;
        font-weight: 200;
        color: #5b0eeb;
        position: absolute;
        top: 60px;
        right: -35px;
    }

    &:last-child {
        &::after {
            display: none;
        }
    }
}

.clock-column:last-child {
    margin-right: 0;
}

.clock-label {
    padding-top: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #5b0eeb;
}

.clock-timer {
    color: #ffffff;
    font-size: 36px;
    line-height: 1;
}

.clock-input {
    clear: both;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto 10px;
}

.done {
    color: #5b0eeb;
    font-weight: 600;
}